<style>
*,
::before,
::after {
  box-sizing: border-box;
  color: white;
  font-family: Quantico;
  overflow-x: hidden;
}



a:link {
  text-decoration: none;
}

.MAIN {
  margin-top: 25vh;
  z-index: 0; 
}

.greeting {
  font-size: 2em;
  text-align: center;
  justify-self: center;
  align-self: center;
  /* animation-name: greeting;
  animation-duration: 4s; */

  p {
    padding-bottom: 20px;
  }

  /*Code for the links*/
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 3px 0px 3px;
  }
  /* Code for hover effects, this are active when the links are hovered over */
  #home:hover {
    font-size: 1.6em;
    padding: 0px 10px 0px 10px;
    transform: translateY(-20px);
    transition-duration: 500ms;
  }
  #project:hover {
    font-size: 1.6em;
    padding: 0px 10px 0px 10px;
    transform: translateY(-20px);
    transition-duration: 500ms;
  }
  #Contact:hover {
    font-size: 1.6em;
    padding: 0px 10px 0px 10px;
    transform: translateY(-20px);
    transition-duration: 500ms;
  }
  #About:hover {
    font-size: 1.6em;
       padding: 0px 10px 0px 10px;
    transform: translateY(-20px);
    transition-duration: 500ms;
  }
}
footer {
  text-align: center;
  /* animation-name: greeting;
  animation-duration: 4s; */
}

  /* code below controls the background of the first scrolling text.*/
.scrollBg1 {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 50%;
  background-color: rgb(255, 0, 0);
  opacity: 0.7;
}


.scrollBg2 { 
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 40%;
  background-color: rgb(0, 0, 255);
  opacity: 0.7;
}

/* code below controls the properties of the scrolling text*/
#scrollOne {
  animation-name: scroll;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  color: white;
  font-size: 3em;
  word-spacing: 1.5em;
}
#scrollTwo {
  animation-name: scroll;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  color: white;
  font-size: 3em;
  word-spacing: 1.5em;
}

/* keyframe in charge of fading start up effect*/
@keyframes greeting {
  from {
    /*hides name and links when first opened*/
    display: none;
    opacity: 0;
  }
  /*code below is to start the fading process*/
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-100%); /* Start off-screen from the right */
  }
  100% {
    transform: translateX(100%); /* End off-screen to the left */
  }
}

/*Media Query*/
@media (max-width: 508px) {
  ul {
    flex-direction: column;
  }
}
</style>